
      

    .Talking, .ago{
      color: rgb(96, 96, 96);
        margin-top:0;
     
     font-size: 12px;
     
     margin-bottom: 0;

    }

    

      .ad{

        display: inline-block;
        width: 50px;
        vertical-align: top;
        margin-left: 50px;

      }

      .video{
        display: inline-block;
        width: 200px;
        
      }
    
    .pro-pic{

      width: 100%;
      border-radius: 30px;
      
    }

    .title-pic{

      margin-top: 0;
      font-size: 14px;
      font-weight: medium;
      line-height: 20px;
      margin-bottom: 12px;

    }

   




    
    .Talking, .ago{
      color: rgb(96, 96, 96);
        margin-top:0;
     
     font-size: 12px;
     
    
     margin-bottom: 4px;

    }

    .photo{
        
        margin: 15px;
        vertical-align: top;
        width: 100%;
    }

      
      .video-1{
        display: inline-block;
        width: 200px;
        
      }
    
    .pro-pic{

      width: 100%;
      border-radius: 30px;
      
    }

    .title-pic{

      margin-top: 0;
      font-size: 14px;
      font-weight: medium;
      line-height: 20px;
      margin-bottom: 12px;
    }

    

    .two{
       width: 340px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  margin-right:  5px;
  
  vertical-align: top;
    }

    .one{

      
 width: 340px;
  display: inline-block;
  vertical-align: top;
  margin-top:0 ;
  margin-bottom:0 ;
    }

    .pro{
       width: 100%;
      border-radius: 30px;
    }
   .channel-photo{
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
   }
    